<div class="rps-game-control" (click)="clickControl()"
     [ngClass]="{'rps-game-control--hidden': !isRevealed, 'rps-game-control--selected': isSelected, 'rps-game-control--server-controlled': isServerControl}">
  <div class="rps-game-control__inner">
    <div class="rps-game-control__front-slide">
      <div class="rps-game-control__icon-box">
        <img *ngIf="controlData?.assetPath" class="rps-game-control__icon" [ngSrc]="'assets' + controlData.assetPath" width="800" height="800" [alt]="controlData.id">
      </div>
      <h3 class="rps-game-control__text">{{controlData.name}}</h3>

    </div>
    <div class="rps-game-control__back-slide">
    </div>
  </div>
</div>


