@import "../../../sass/variables";

.rps-game-control {
  background-color: transparent;
  perspective: 1000px;

  &--hidden {

    .rps-game-control__inner {
      transform: rotateY(180deg);
    }
  }

  &--selected,
  &--server-controlled {

    .rps-game-control__front-slide:hover {
      transform: scale(1);
      cursor: auto;
    }
  }

  &--server-controlled {

    .rps-game-control__icon-box {
      background-color: map-get($deep-orange, "base");
    }

    .rps-game-control__back-slide::before {
      color: map-get($deep-orange, "base");
    }
  }
}

.rps-game-control__inner {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  //Rotation must happen here
}

.rps-game-control__front-slide,
.rps-game-control__back-slide {
  backface-visibility: hidden;
  background-color: map-get($blue-grey, "lighten-5");
  border-radius: 5%;
  border: 1px solid black;
}

.rps-game-control__front-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.rps-game-control__back-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);

  &::before {
    content: 'videogame_asset';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Material Icons';
    font-size: 9rem;
    color: map-get($blue, "lighten-2");

    @media #{$small-and-down} {
      font-size: 5rem;
    }
  }
}

.rps-game-control__icon-box {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 100%;
  background-color: map-get($blue, "lighten-2");
}

.rps-game-control__icon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.rps-game-control__text {

  @media #{$small-and-down} {
    font-size: 1.7rem;
  }
}
