<h2>Play Game</h2>

<div class="rps-game">
  <div class="rps-game__server-area row">
    <div class="rps-game__server-control-area col s4 offset-s4">
      <rps-game-control [isServerControl]="true" #serverControl/>
    </div>
  </div>
  <div class="rps-game__player-area row">
    <div class="rps-game__player-control-area col l10 offset-l1 s12">
      <rps-game-control-switch (selectEvent)="handleSwitchSelection($event)" #controlSwitch/>
    </div>
  </div>
</div>

<rps-game-review-modal (playAgainEvent)="handleUserRematch($event)" #review/>
